
body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px;
}
.row1{
    padding: 10px 24px;
    cursor: pointer;
    float: left; 
}
#card {
    background: transparent;
    border: none;
}
#fist {
    background: transparent;
    border: none;
}
#stand {
    background: transparent;
    border: none;
}
