
body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px;
}


#card {
    background: transparent;
    border: none;
}
#deal {
    background-color: rgb(50, 50, 192);
    border: none;
    height: 40px;
    border-radius: 10px;
    color: rgb(254, 254, 255) 
}
